@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    color: aliceblue;
}

html, body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body{
    background-color: black;
    position: relative;
    overflow-x: hidden;
    z-index: -100;
}

nav{
    width: 100vw;
    height: 9vh;
}

/* div, section{
    border: 1px;
    margin: 2px;
    border-style: solid;
    border-color: aliceblue;
} */

h2, p, h3{
    color: aliceblue;
    
}

h2{
    letter-spacing: 3px;
    font-size: 13.5rem;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.nav-div{
    display: flex;
    align-items: center;
    z-index: 1000;
}

.logo-div{
    width: 30%;
    padding-left: 5%;
    display: flex;
    align-items: center;
}
/* 
.hidden-nav{
    width: 100vw;
    height: 9vh;
    display: none;
    position: fixed;
    background-color: rgb(4, 0, 48);
    transition: all 0.5s ease-in-out;
    opacity: 1;

}

.sticky{
    display: flex;
    transition: all 0.5s ease-in-out;
} */

.nav-items{
    width: 60%;
    text-align: right;
    font-size: 20px;
}

.nav-item{
    margin: 10px;
    transition: all 0.5s ease-in-out;
}

.nav-item:hover{
    text-decoration: underline;
}

.cart-div{
    width: 10%;
}

#logo{
    height: 70px;
}

#cart{
    filter: invert(70%);
    height: 40px;
    margin-left: 3%;
}

.hero{
    height: 95vh;
    width: 100vw;
    position: relative;
    background-image: url(img/bg.jpeg);
    background-size: cover;
    z-index: -2;
    background-color: bisque;
    /* filter: brightness(40%); */
}

#hero-bg{
    height: 95vh;
    width: 100vw;
    position: absolute;
    z-index: -2;
}

#karambit-div{
    position: relative;

}

.karambit{
    position: absolute;
    z-index: -1;
    bottom: 70px;
    right: -100px;
    /* transition: all 0.06s ease-in-out; */
    transform: rotate(15deg);
}

.welcome-text{
    margin: 15vh auto auto 10vw;
    height: 15%;
    width: 20%;
}

.welcome-text p{
    padding-left: 1.5vw;
}

.arrow{
    margin: auto 50% 5% 50%;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 50px;
}

.bounce {
    display: inline-block;
    font-size: 30px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    padding: 5px 7px 14px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid #ffffff;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    position: relative;
    top: 0;
    animation: bounce 0.5s ease-out infinite alternate;
    text-decoration: none;
    cursor: default;
}

@keyframes bounce {
    0%{
      top: 0;
      color: #fff;
    }
    100% {
      top: 8px;
      color: #e0e0e0;
    }
}

.second-page{
    width: 100vw;
    height: 110vh;
    justify-content: center;
    background-color: black;
    /* z-index: -100; */
    background-size: cover;
    position: relative;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.second-page-div{
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    z-index: 4;
    display: flex;
}

.left-div{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.product-feature {
    width: 60%;
    margin-top: 10%;
    position: relative;
}

.product-feature hr{
    opacity: 30%;
    margin: 20px 0px 20px 0px;
    margin-right: 90px;
}


.product-feature h4 {
    font-size: 1.2rem;
    /* margin-bottom: 40px; */
}

.product-feature h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.product-feature p {
    margin-bottom: 40px;

}

.product-desc{
    min-height: 70%;
    width: 80%;
    right: 0;
    margin-left: 10%;
    display: flex;
    justify-content: flex-end;

}
.more-btn{
    height: 10%;
    width: 30%;
    background: none;
    border: 2px solid #ccc burlywood; 
    cursor: pointer;
    outline: none;
    margin: auto;
}

.right-div{
    width: 50%;
    height: 100%;
}

.embeds{
    height: 70vh;
    width: 100vw;
    display: flex;
    background-color: black;
    justify-content: space-around;
}
/* 
.embeds div{
    border-radius: 40px;
    border: 1px;
    border-style: solid;
} */

.yt1, .ig1, .ig2{
    height: 100%;
    width: 22%;
    z-index: 4;
}

.twt{
    height: 100%;
    width: 21%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.twt div{
    min-height: 50%;
    /* align-items: center; */
    width: 100%;
}

.twt1, .twt2{
    justify-content: center;
}

.social-page{
  width: 50vw;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.social  h1{
  font-size: 4rem;
}


.icon-container{
  /* margin-left: 40px; */
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: center;
}

#icons{
  font-size: 3.5rem;
  letter-spacing: 2rem;
  transition: 0.3s;
  filter: invert(0.3);
}

#icons:hover{
  scale: 1.5;
  filter: invert(0);
}

.mail {
  width: 450px;
}

#mail-msg{
  width: 450px;
  border: 2px solid #e8e8e8;
  padding: 15px;
  border-radius: 10px;
  background-color: #212121;
  font-size: small;
  font-weight: bold;
}



.input {
  width: 450px;
  border: 2px solid #e8e8e8;
  padding: 15px;
  border-radius: 10px;
  background-color: #212121;
  font-size: small;
  font-weight: bold;
 }
 
 .input:focus {
  outline-color: white;
  background-color: #212121;
  color: #e8e8e8;
  box-shadow: 5px 5px #888888;
 }
